.musics-container {
  background-color: #121212;
  width: 1020px;
  height: 100vh;
  max-height: 495px;
  border-radius: 0 0 10px 10px;
  margin-left: 10px;
  overflow-y: auto;
}

.gradient {
  background-image: linear-gradient(#242424, #121212);
  height: 250px;
}

.musics-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  text-align: center;
}

.musics-title-container h1 {
  color: #fff;
  font-size: 23px;
  margin-left: 15px;
}

.musics-title-container a {
  font-size: 12px;
  margin-top: 5px;
  margin-right: 20px;
  padding: 5px;
}

.grid-cards-musics {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-around;
  margin-top: 20px;
}

/* mobile */

.nav-mobile {
  width: 100%;
  display: flex;
  padding: 15px;
}

.nav-mobile p {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.nav-mobile ul {
  list-style: none;
  display: flex;
  padding-left: 90px;
}

.nav-mobile li {
  padding-left: 10px;
}

.links-mobile div {
  background-color: #21212;
  color: #fff;
  font-size: 16px;
  width: 100%;
  height: 20px;
}
 
/* mobile */

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 10px;
  margin-top: 20px;
}

.header-mobile p {
  font-size: 25px;
  font-weight: 700;
  color: #ffff;
}

.btns {
  padding-left: 10px;
  padding-top: 35px;
}

.btn-music {
  width: 60px;
  border-radius: 50px;
  border: none;
  height: 32px;
  background-color: #2a2a2a;
  color: #ffff;
}

.btn-podcast {
  width: 150px;
  border-radius: 50px;
  border: none;
  height: 32px;
  background-color: #2a2a2a;
  color: #ffff;
  margin-left: 5px;
}

.grid-cards-mobile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

.img-music-mobile {
  width: 150px;
  height: 150px;
}

.playlist-mobile {
  margin-top: 35px;
}

.playlist-container {
  display: flex;
  margin-top: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100vw;
}

.card-playlist {
  padding-left: 10px;
  scroll-snap-align: start;
}

.card-playlist .title-mobile {
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
}

.card-playlist .subtitle-mobile {
  color: #dedede;
  margin-top: 10px;
}