.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login-container button {
  height: 40px;
  width: 140px;
  background-color: #1ed760;
  border-radius: 500px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}
