.container-principal {
  display: flex;
}

.container-principal  main {
  padding-left: 1px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.app h2 {
  color: #fff;
}

.musics-container {
  background-color: #121212;
  height: 100vh;
  max-height: 490px;
  border-radius: 0 0 10px 10px;
  margin-left: 10px;
  overflow-y: auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .musics-container {
  background-image: linear-gradient(#242424, #121212);
  height: 100vh;
  }
}