* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif;
}

body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --scrollbar-vertical-size: 10px;
  --scrollbar-horizontal-size: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #dedede;
}